<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name='serviceBus' type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <serviceBus>
    <messageRoutes>
      <messageRoute uri="msmq://./shuttle-server-work">
        <add specification="StartsWith" value="StudentManagement.Esb.Messages" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>
</configuration>