<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Shuttle.Core.Cli" version="10.0.2" targetFramework="net472" />
  <package id="Shuttle.Core.Compression" version="10.0.2" targetFramework="net472" />
  <package id="Shuttle.Core.Configuration" version="10.0.3" targetFramework="net472" />
  <package id="Shuttle.Core.Container" version="11.0.0" targetFramework="net472" />
  <package id="Shuttle.Core.Contract" version="10.0.1" targetFramework="net472" />
  <package id="Shuttle.Core.Data" version="11.0.4" targetFramework="net472" />
  <package id="Shuttle.Core.Encryption" version="10.0.2" targetFramework="net472" />
  <package id="Shuttle.Core.Logging" version="10.0.3" targetFramework="net472" />
  <package id="Shuttle.Core.Pipelines" version="10.0.6" targetFramework="net472" />
  <package id="Shuttle.Core.PipelineTransaction" version="10.0.3" targetFramework="net472" />
  <package id="Shuttle.Core.Reflection" version="10.0.10" targetFramework="net472" />
  <package id="Shuttle.Core.Serialization" version="10.0.4" targetFramework="net472" />
  <package id="Shuttle.Core.ServiceHost" version="10.0.4" targetFramework="net472" />
  <package id="Shuttle.Core.Specification" version="10.0.1" targetFramework="net472" />
  <package id="Shuttle.Core.Streams" version="10.0.2" targetFramework="net472" />
  <package id="Shuttle.Core.StructureMap" version="10.0.4" targetFramework="net472" />
  <package id="Shuttle.Core.System" version="1.0.1" targetFramework="net472" />
  <package id="Shuttle.Core.Threading" version="11.0.0" targetFramework="net472" />
  <package id="Shuttle.Core.TimeSpanTypeConverters" version="10.0.1" targetFramework="net472" />
  <package id="Shuttle.Core.Transactions" version="10.0.2" targetFramework="net472" />
  <package id="Shuttle.Esb" version="11.0.0" targetFramework="net472" />
  <package id="Shuttle.Esb.Sql.Subscription" version="11.0.0" targetFramework="net472" />
  <package id="StructureMap" version="4.7.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net472" />
</packages>